<%- include('partials/header') %>


<div class="col-lg-9">

    <div class="row">
      <div class="col-lg-6">
        <img class="card-img-top" src="<%= product.image_url%>" alt="<%= product.name%>">
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
              <h3 class="card-title">
                <%= product.name%>
               
              <p class="card-text"><%= product.description%></p>
             
              <h5>$<%= product.price %></h5>
              <p class="card-text">
                <a href="#" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </p>
          </div>
        </div>
      
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->


</div>

<%- include('partials/footer') %>